<aside>
    <h2>Aktuelle Meldungen</h2>
    <ul>
        <li>31.10.2022: Der Beamer in Raum B.2.20 ist leider defekt. Der Informatiker ist technisiert.
        </li>
        <li>04.09.2022: Bitte in den Räumen NICHT mit Permanentmarker auf die Whiteboards malen.</li>
    </ul>
</aside>