<header>
    <a href="./"><img src="img/logo/shark.svg" width="100" height="100" alt="Raum-App Logo"></a>
    <h1>Raum-App</h1>
    <!-- Quelle: https://pixabay.com/de/illustrations/hai-gesch%C3%A4ft-corporate-ozean-1417151/ -->
</header>