<nav>
    <ul>
        <li><a href="raumliste">Raumliste</a></li>
        <li><a href="raumdetail">Raumdetails</a></li>
        <li><a href="buchungsdetail">Buchungsdetails</a></li>
        <li><a href="neuebuchung">Raumbuchung</a></li>
    </ul>
</nav>